#header {
  height: 60px;
  background-color:#1d2130;
}

#footer {
  height: 60px;
  background-color:#1d2130;
  margin-top: 750px;
}

#image {
  height: 40px;
  margin-left: 90px;
  width: auto;
  margin-top: 8px;

}

.display-show {
  display: inline-block;
  width: 23%;
  width: calc(25% - ( ( 20px ) * 0.75 ) );
  margin-right: 20px;
  margin-bottom: 20px;
}

.display-show:nth-child(4n+4) {
  margin-right: 0;
}

.display-show img {
  width: 100%;
  height: auto;
}